<div class="card">
    <div class="card-header">
        <div class="col-md-10 float-left">
            <h3>Lista Cidade</h3>
        </div>
        <div class="col-md-2 float-right">
            <a [routerLink]="[ '/pais/novo']" class="btn btn-outline-primary">Novo Registro</a>
        </div>
    </div>
    <div class="card-body">
        <label for="pesquisa">Pesquisa</label>
        <input type="text" name="pesquisa" id="pesquisa" [(ngModel)]="pesquisa" placeholder="Pesquisa por nome" class="form-control" (keyup.enter)="pesquisarPorNome()" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nome</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cidadeAtual of cidades">
                    <td>{{ cidadeAtual.cidadePK.codigo }}</td>
                    <td>{{ cidadeAtual.nome }}</td>
                    <td>
                        <a [routerLink]="[ '/cidade', cidadeAtual.cidadePK.codigo, 'editar' ]">Alterar</a>
                        <a class="text-danger">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination [totalItems]="totalDePagina" previousText="&lsaquo;" nextText="&rsaquo;"></pagination>
    </div>
</div>