<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h3>Lista de Grupos</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nome</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let grupoCorrente of grupos">
                        <th>{{ grupoCorrente.codigo }}</th>
                        <th>{{ grupoCorrente.nome }}</th>
                        <th>
                            <a [routerLink]="[grupoCorrente.codigo, 'detalhe']" class="{{ podeVerDetalhe ?  '' : 'isDisabled' }}"> Detalhe</a>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>